/* Gabriel Knight Mini-Project */

/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background 0.5s ease;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    display: none;
    margin: 5% 20%;
    background-color: rgba(211, 211, 211, 0.685);
    padding: 20px;
    border-radius: 8px;
}

#introSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.screenshot-gallery img {
    width: 30%;
    margin: 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Table Style */

table {
    width: 50%;
    margin: 5% 5%;
    border-collapse: collapse;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #333;
    color: white;
    font-size: 18px;
}

tr:hover:not(:first-child) {
    background-color: #f5f5f5;
}

tr:first-child:hover {
    background-color: transparent;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f400;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: #777;
}


@media (max-width: 768px) {
    table {
        width: 95%;
        font-size: 14px;
    }

    th, td {
        padding: 10px;
    }
}

/* Backgrounds */
.body-background-default {
    background-image: url('../images/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.body-background-witcher {
    background-image: url('../images/W3_Back.png');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.body-background-oblivion {
    background-image: url('../images/Oblivion.jpg');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.body-background-eq {
    background-image: url('../images/EQ.jpg');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.body-background-highlander {
    background-image: url('../images/highlander.jpg');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.body-background-braveheart {
    background-image: url('../images/braveheart.jpg');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.body-background-gladiator {
    background-image: url('../images/gladiator.jpg');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.body-background-drizzt {
    background-image: url('../images/drizzt.jpg');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.body-background-song {
    background-image: url('../images/song.jpg');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.body-background-vamp {
    background-image: url('../images/vamp.jpg');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.body-background-firefly {
    background-image: url('../images/firefly.jpg');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.body-background-got {
    background-image: url('../images/got.jpg');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.body-background-lie {
    background-image: url('../images/lie.jpg');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

/* Selector Buttons */
#mediaSelection {
    text-align: center;
    margin: 20px 0;
}

.media-btn {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.media-btn:hover {
    background-color: #555;
}

.media-btn:active {
    transform: scale(0.98);
}



